<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand"></h3>
        <nav>
            <ul class="nav masthead-nav">
                <li class="ui-home"><a href="#"><%= __('Intro') %></a>
                </li>
                <li class="ui-history"><a href="#"><%= __('History') %></a>
                </li>
                <li class="ui-allnotes<% { %> active<% }%>"><a href="<%- serverURL %>/all"><%= __('All') %></a>
                </li>

                <div class="ui-signout" style="float: right; margin-top: 8px;<% if(!signin) { %> display: none;<% } %>">
                    <a type="button" href="<%- serverURL %>/new" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> <%= __('New note') %></a>
                    <span class="ui-profile dropdown pull-right">
                        <button id="profileLabel" class="btn btn-sm btn-link ui-profile-label" style="padding-right: 0;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src=<%- photo %> class="ui-avatar" width="20" height="20"><span class="hidden-xs hidden-sm">&ensp;<span class="ui-name"></span><%- name %></span>&ensp;
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="profileLabel">
                            <li><a href="<%- serverURL %>/features"><i class="fa fa-dot-circle-o fa-fw"></i> <%= __('Features') %></a></li>
                            <li><a href="<%- serverURL %>/me/export"><i class="fa fa-cloud-download fa-fw"></i> <%= __('Export user data') %></a></li>
                            <li><a class="ui-delete-user" data-toggle="modal" data-target=".delete-user-modal"><i class="fa fa-trash fa-fw"></i> <%= __('Delete user') %></a></li>
                            <li><a href="<%- serverURL %>/logout"><i class="fa fa-sign-out fa-fw"></i> <%= __('Sign Out') %></a></li>
                        </ul>
                    </span>
                </div>
            </ul>
        </nav>
    </div>
</div>
